@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

.bgimage{
    background-image: url('../../photographs/wallpaper-room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    margin: -8px;
}

.btn{
    padding: 8px 10px;
    margin: 5px;
    font-size: 15px; 
    border: 0px;
    background:  #85540b;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }

.logoutBtn{
    padding: 8px 10px;
    float: right;
    margin: 5px;
    font-size: 15px; 
    border: 0px;
    background:  #85540b;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

