<div class="bgimage">
    <div>
        <button class="btn" (click)="welcome()"> Welcome page </button>
        <button class="btn" (click)="pendingReservations()"> Pending Reservations </button>
        <button class="btn" (click)="editProfile()"> Edit Profile </button>
        <button class="btn" (click)="visited()">Visited accommodations</button>
        <button class="logoutBtn" (click)="logout()"> Logout </button>
    </div>
    <div class="container">
        <div class="table-header"> <p class="table-title">Reservations</p> </div>

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
                <td mat-cell *matCellDef="let reservation" class="cell-center">{{reservation.accommodationName}}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Location </th>
                <td mat-cell *matCellDef="let reservation" class="cell-center">{{reservation.accommodationLocation}}</td>
            </ng-container>
            <ng-container matColumnDef="numOfGuests">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Number of people </th>
                <td mat-cell *matCellDef="let reservation" class="cell-center">{{reservation.numberOfGuests}}</td>
            </ng-container>
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Start Date </th>
                <td mat-cell *matCellDef="let reservation" class="cell-center">{{reservation.startDate}}</td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> End Date </th>
                <td mat-cell *matCellDef="let reservation" class="cell-center">{{reservation.endDate}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> </th>
                <td mat-cell *matCellDef="let reservation" class="cell-center">
                    <button class="btn"  (click)="cancelReservation(reservation.id)">
                       Cancel
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>
