<div class="bgimage">
    <div class="wrapper">

        <div class="title">
            Login  
        </div>
        
        <div class="form">
          <form [formGroup]="loginUserForm">
            
            <div class="inputfield">
              <label for="username">Username:</label>
              <input type="text" formControlName="username" class="input">
            </div>
            <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="username && username.invalid && username.touched"> Username is required! </span>
            </div>
  
            <div class="inputfield">
              <label>Password:</label>
              <input type="password" name="password" formControlName="password" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="password && password.invalid && password.touched"> Password is required! </span>
            </div>
  
            <div class="inputfield">
              <button [disabled]="loginUserForm.invalid" class="btn" (click)="login()">Login</button>
            </div>
  
            <div class="inputfield">
              <label>Don't have an account?</label>
              <button class="btn" (click)="goToRegistration()"> Sign up </button>
            </div>
  
            <div class="inputfield">
              <button class="btn" (click)="goToHome()">Return to welcome page</button>
            </div>
  
          </form>
        </div>
      </div>
</div>