<div class="bgimage">
  <div class="wrapper">
      <div class="title">
          Edit  
      </div>
      <div class="form">
        <form [formGroup]="registerUserForm">
          
          <div class="inputfield">
              <label for="username">Username:</label>
              <input type="text" name="username" formControlName="username" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="username && username.invalid && username.touched"> This username is invalid! </span>
          </div>

          <div class="inputfield">
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="example@mail.com" formControlName="email" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="email && email.invalid && email.touched"> This email is invalid! </span>
          </div>

          <div class="inputfield">
            <label>Password:</label>
            <input type="password" name="password" formControlName="password" placeholder="*********" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="password && password.invalid && password.touched"> This password is invalid! </span>
          </div>

          <div class="inputfield">
            <label for="confirmPassword"> Confirm password: </label>
            <input type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="*********" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="registerUserForm.errors?.['passwordMismatchError']"> Password doesn't match! </span>
          </div>

          <div class="inputfield">
            <label for="name">Name:</label>
            <input type="text" name="name" formControlName="name" placeholder="Name" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="name && name.invalid && name.touched"> This name is invalid! </span>
          </div>

          <div class="inputfield">
            <label for="surname">Surname:</label>
            <input type="text" name="surname" formControlName="surname" placeholder="Surname" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="surname && surname.invalid && surname.touched"> This surname is invalid! </span>
          </div>

          <div class="inputfield">
              <label for="residency">Place of residence:</label>
              <input type="text" name="residency" formControlName="residency" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="residency && residency.invalid && residency.touched"> This residency is invalid! </span>
          </div>

          <div class="inputfield">
            <button class="btn">Save changes</button>
          </div>

          <div class="inputfield">
            <button class="btnDel">Delete account</button>
          </div>

          <div class="inputfield">
            <button class="btn" (click)="goToHome()">Cancel and return to home</button>
          </div>

        </form> 
      </div>
    </div>
</div>